/* ==hero=== */
.hero-bg-img{
    background-image: url('../img/about/about-bg-3.png');
    background-position: center;
    background-size: cover;
    height: auto;
}   
.hero-bg-clr{
    background-color: #00000080;
    height: 40vh;
    width: 100%;
}

.hero-bg-img{
    background: url('../img/mobility/aids-2.png');
    background-position: center;
}
